body {
  width: 100%;
  text-align: center;
  background-color: black;
}

button {
  padding: 5px;

}

.col-md-12 {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  font-size: 30px;
  color: white;
}

#display {
  padding: 30px;
}

#topofcalc {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  font-size: 30px;
  color: white;
}
